<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="TicTacToe Client (Legacy)"
           Manufacturer="CodeAlchemy-Labs"
           Version="$(var.AppVersion)"
           UpgradeCode="E92F0561-9AEF-4D79-BD57-4C182B4A554C">
    <MajorUpgrade DowngradeErrorMessage="A newer version is already installed." />

    <MediaTemplate CompressionLevel="high" />

    <StandardDirectory Id="ProgramFilesFolder">
      <Directory Id="INSTALLFOLDER" Name="TicTacToe Client (Legacy)" />
    </StandardDirectory>

    <Feature Id="MainFeature" Title="TicTacToe Client (Legacy)" Level="1">
      <Component Directory="INSTALLFOLDER">
        <File Source="..\..\target\$(var.TargetArch)\release\tictacli.exe" KeyPath="yes" />
      </Component>
    </Feature>
  </Package>
</Wix>
